<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOML file generator</title>
    <script>
        // Set initial folder path
        function setInitialFolderPath() {
            document.getElementById('current_folder').textContent = './configs/json/';
        }

        // Modify the window.onload function to include the new function
        window.onload = function() {
            showSubOptions();
            updateModelFile();
            setInitialFolderPath();
        };
        function showSubOptions() {
            // Get the selected value for run_type
            var RunTypeValue = document.getElementById("run_type").value;

            // Hide all sub-options initially
            document.getElementById("sub_option1").style.display = "none";
            document.getElementById("sub_option2").style.display = "none";
            document.getElementById("sub_option3").style.display = "none";
            document.getElementById("sub_option4").style.display = "none";

            // Show sub-options based on the selected values
            if (RunTypeValue == "sampling") {
                document.getElementById("sub_option1").style.display = "block";
            }
            if (RunTypeValue == "scoring") {
                document.getElementById("sub_option2").style.display = "block";
            }
            if (RunTypeValue == "staged_learning") {
                document.getElementById("sub_option3").style.display = "block";
            }
            if (RunTypeValue == "transfer_learning") {
                document.getElementById("sub_option4").style.display = "block";
            }

            // Update file names based on the selected run type
            updateFileNames(RunTypeValue);
        }

        function updateFileNames(runType) {
            var jsonConfig = document.getElementById("json_config");
            var outputFile = document.getElementById("output_file");

            switch(runType) {
                case "sampling":
                    jsonConfig.value = "sampling.json";
                    outputFile.value = "sampling.csv";
                    break;
                case "scoring":
                    jsonConfig.value = "scoring.json";
                    outputFile.value = "scoring.csv";
                    break;
                case "staged_learning":
                    jsonConfig.value = "staged_learning.json";
                    outputFile.value = "staged_learning.csv";
                    break;
                case "transfer_learning":
                    jsonConfig.value = "transfer_learning.json";
                    outputFile.value = "transfer_learning.csv";
                    break;
            }
        }

    function updateDefaultFilename() {
        var runType = document.getElementById("run_type").value;
        var outputFile = document.getElementById("output_file");
        
        switch(runType) {
            case "sampling":
                outputFile.value = "sampling.csv";
                break;
            case "scoring":
                outputFile.value = "scoring.csv";
                break;
            case "staged_learning":
                outputFile.value = "staged_learning.csv";
                break;
            case "transfer_learning":
                outputFile.value = "transfer_learning.csv";
                break;
        }
    }

    function updateModelFile() {
        var generator = document.getElementById("generator").value;
        var modelFile = document.getElementById("model_file");
        
        switch(generator) {
            case "Reinvent":
                modelFile.value = "reinvent.prior";
                break;
            case "LibInvent":
                modelFile.value = "libinvent.prior";
                break;
            case "LinkInvent":
                modelFile.value = "linkinvent.prior";
                break;
            case "Mol2Mol":
                modelFile.value = "mol2mol_medium_similarity.prior";
                break;
        }
    }

    function updateFolderPath() {
        selectFolder().then(() => {
            const folderPath = document.getElementById('current_folder').textContent;
            document.querySelectorAll('.folder-path').forEach(el => {
                el.textContent = folderPath;
            });
        });
    }

    function selectFolder() {
        return new Promise((resolve) => {
            const input = document.createElement('input');
            input.type = 'file';
            input.webkitdirectory = true;
            input.directory = true;

            input.addEventListener('change', (e) => {
                const files = e.target.files;
                if (files.length > 0) {
                    // Get the first file's webkitRelativePath
                    const fullPath = files[0].webkitRelativePath;
                    // Extract the folder name (last directory in the path)
                    const folderName = fullPath.split('/')[0];
                    // Update the current folder display with the folder name
                    document.getElementById('current_folder').textContent = folderName;
                }
                resolve();
            });

            input.click();
        });
    }



    function updateFolderPath() {
        selectFolder().then(() => {
            const folderPath = document.getElementById('current_folder').textContent;
            document.querySelectorAll('.folder-path').forEach(el => {
                el.textContent = folderPath;
            });
        });
    }


    function showMol2MolOptions() {
        var generatorValue = document.getElementById("generator").value;
        var mol2molOptions = document.getElementById("mol2mol_options");
        
        if (generatorValue === "Mol2Mol") {
            mol2molOptions.style.display = "block";
        } else {
            mol2molOptions.style.display = "none";
        }
    }
    function showSmilesFileInput() {
        var generatorValue = document.getElementById("generator").value;
        var smilesFileInput = document.getElementById("smiles_file_input");
        var modelFileDiv = document.getElementById("model_file_div");

        // Show model file input for all generators
        modelFileDiv.style.display = "block";

        // Hide SMILES file input for Reinvent, show for other generators
        if (generatorValue !== "Reinvent") {
            smilesFileInput.style.display = "block";
        } else {
            smilesFileInput.style.display = "none";
        }

        // Update the model file
        updateModelFile();

        // Call showMol2MolOptions to handle Mol2Mol-specific fields
        showMol2MolOptions();
    }

    // Call showSubOptions() when the page loads to set the initial state
    window.onload = function() {
        showSubOptions();
        updateModelFile();
    };

    document.getElementById('toml-form').addEventListener('submit', function(e) {
        e.preventDefault();

        // Collect form data
        const formData = new FormData(this);
        const jsonData = {};

        for (const [key, value] of formData.entries()) {
            jsonData[key] = value;
        }

        // Add current folder path
        jsonData['current_folder'] = document.getElementById('current_folder').textContent;

        // Send data to the server
        fetch('/generate-toml', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        }).then(response => response.blob())
        .then(blob => {
            // Download the generated TOML file
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = 'config.toml';
            document.body.appendChild(a);
            a.click();
            a.remove();
        });
    });
    </script>
</head>
<body>
    <h1>REINVENT4: <span style="color: #666666;">Design your experiment</span></h1>
    <form id="toml-form">
        <!-- New section separator -->
        <hr>

        <label for="run_type">Run Type :</label>
        <select id="run_type" name="run_type" onchange="showSubOptions()">
            <option value="sampling">Sampling</option>
            <option value="scoring">Scoring</option>
            <option value="staged_learning">Staged Learning</option>
            <option value="transfer_learning">Transfer Learning</option>
        </select>
        <br><br>

        <label for="device">Device:</label>
        <select id="device" name="device">
            <option value="cuda:0">cuda:0</option>
            <option value="mps">mps</option>
            <option value="cpu">cpu</option>
        </select>
        <br><br>

        <!-- <label for="json_config" style="display: inline-block; margin-right: 10px;">JSON Config file:</label>
        <div style="display: inline-flex; align-items: center;">
            <span class="folder-icon" style="margin-right: 5px; color: #0000FF; cursor: pointer;" onclick="updateFolderPath()">
                <i class="fas fa-folder"></i>
            <span id="current_folder" style="margin-right: 5px;">./configs/json/</span>
            <input type="text" id="json_config" name="json_config" value="sampling.json" style="flex-grow: 1;">
        </div>

        <br><br>

        <label for="output_folder" style="display: inline-block; margin-right: 10px;">Output File:</label>
        <div style="display: inline-flex; align-items: center;">
            <span id="folder_path" style="margin-right: 5px; color: #0000FF; cursor: pointer;" onclick="selectFolder2()">
                <i class="fas fa-folder"></i> <span id="current_folder">./artifacts/</span>
            </span>
            <input type="text" id="output_file" name="output_file" value="sampling.csv" style="flex-grow: 1;">
        </div>
        <br> -->
        <label for="json_config" style="display: inline-block; margin-right: 10px;">JSON Config file:</label>
        <div style="display: inline-flex; align-items: center;">
            <span id="current_folder" style="margin-right: 5px;">./configs/json/</span>
            <input type="text" id="json_config" name="json_config" value="sampling.json" style="flex-grow: 1;">
        </div>

        <br><br>

        <label for="output_folder" style="display: inline-block; margin-right: 10px;">Output File:</label>
        <div style="display: inline-flex; align-items: center;">
            <span id="current_folder">./artifacts/ </span>
            <input type="text" id="output_file" name="output_file" value="sampling.csv" style="flex-grow: 1;">
        </div>
        <br>

        <hr>

        <!-- Sub-options for Sampling -->
        <div id="sub_option1" style="display:none;">
            <label for="generator">Generator:</label>
            <select name="generator" id="generator" onchange="showSmilesFileInput()">
                <option value="Reinvent">Reinvent</option>
                <option value="LibInvent">LibInvent</option>
                <option value="LinkInvent">LinkInvent</option>
                <option value="Mol2Mol">Mol2Mol</option>
            </select><br><br>

            <div id="model_file_div">
                <label for="model_file" style="display: inline-block; margin-right: 10px;">Model File:</label>
                <div style="display: inline-flex; align-items: center;">
                    <span id="model_folder_path" style="margin-right: 5px;">./priors/</span>
                    <input type="text" id="model_file" name="model_file" style="flex-grow: 1;">
                </div>
            </div><br>
        
            <!-- SMILES file input (not shown for Sampling/Reinvent combination) -->
            <div id="smiles_file_input">
                <label for="smiles_file" style="display: inline-block; margin-right: 10px;">SMILES File:</label>
                <div style="display: inline-flex; align-items: center;">
                    <span id="smiles_folder_path" style="margin-right: 5px;">./smiles/</span>
                    <input type="text" id="smiles_file" name="smiles_file" style="flex-grow: 1;">
                </div>
            </div><br>

            <label for="num_molecules">Number of Molecules:</label>
            <input type="number" id="num_molecules" name="num_molecules" min="1" value="1000"><br><br>
            
            <label for="unique_molecules">Unique molecules:</label>
            <select id="unique_molecules" name="unique_molecules">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br><br>
            
            <label for="randomize_smiles">Randomize SMILES:</label>
            <select id="randomize_smiles" name="randomize_smiles">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br><br>

            <!-- New Mol2Mol options -->
            <div id="mol2mol_options" style="display:none;">
                <label for="sample_strategy">Sample Strategy:</label>
                <select id="sample_strategy" name="sample_strategy">
                    <option value="beamsearch">Beamsearch</option>
                    <option value="multinomial">Multinomial</option>
                </select><br><br>

                <label for="temperature">Temperature:</label>
                <input type="number" id="temperature" name="temperature" min="0" max="2" step="0.1" value="1.0"><br><br>

                <label for="tensorboard_log_dir">TensorBoard Log Directory:</label>
                <input type="text" id="tensorboard_log_dir" name="tensorboard_log_dir" value="tb_logs"><br><br>
            </div>
        </div>

        <!-- Sub-options for Scoring -->
        <div id="sub_option2" style="display:none;">
            <label for="sub_option2_A">Scoring Type:</label>
            <select name="sub_option2_A" id="sub_option2_A">
                <option value="Option2_AA">Geometric Mean</option>
                <option value="Option2_AB">Arithmetic Mean</option>
            </select><br><br>

            <label for="sub_option2_B">In Parallel:</label>
            <select name="sub_option2_B" id="sub_option2_B">
                <option value="Option2_BA">Yes</option>
                <option value="Option2_BB">No</option>
            </select><br><br>
        </div>

        <!-- Sub-options for Staged Learning -->
        <div id="sub_option3" style="display:none;">
            <label for="sub_option3">Staged Learning Options:</label>
            <select name="sub_option3">
                <option value="Option3_A">Option 3A</option>
                <option value="Option3_B">Option 3B</option>
            </select><br><br>
        </div>

        <!-- Sub-options for Transfer Learning -->
        <div id="sub_option4" style="display:none;">
            <label for="sub_option">Transfer Learning Options:</label>
            <select name="sub_option">
                <option value="Option4_A">Option 4A</option>
                <option value="Option4_B">Option 4B</option>
            </select><br><br>
        </div>
        
        <!-- New section separator -->
        <hr>

        <button type="submit">Submit</button>
    </form>

    <script>
        setInitialFolderPath();
        document.getElementById('toml-form').addEventListener('submit', function(e) {
            e.preventDefault();

            // Collect form data
            const formData = new FormData(this);
            const jsonData = {};

            for (const [key, value] of formData.entries()) {
                jsonData[key] = value;
            }

            // Add current folder path
            jsonData['current_folder'] = document.getElementById('current_folder').textContent;

            // Send data to the server
            fetch('/generate-toml', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            }).then(response => response.blob())
            .then(blob => {
                // Download the generated TOML file
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'config.toml';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                });
        });
    </script>
</body>
</html>
